extends layouts/main-layout

block content
    if status
        script.
            var chatId = '!{chat._id}'
            var status = '!{chat._id}'

        .alert.alert-secondary(role="alert")
            p Welcome to #{title}
            p user.username -- #{user.username}
            p user._id -- #{user._id}
            p chatId -- #{chat._id}

        .chatPageContainer
            .chatTitleBarContainer
                +createChatImage(chat, userLoggedJs)
                span#chatName(data-toggle="modal", data-target="#chatNameModal") #{chat.chatName}

            .mainContentContainer
                .chatContainer
                    .chatMessages
                    .footer
                        textarea.inputTextBox(name="messageInput", placeholder="Type a message...")
                        button.sendMessageButton
                            i.fas.fa-paper-plane
        +createChatNameModal(chat)
    else
        p No such chat

block scripts
    script(src='/js/chatPage.js')