extends layouts/main-layout

block content
    if status
        p #{user.username}
        script.
            var profileUserId = '!{user._id}'
            var id = '!{id}'
            var selectedTab = '!{selectedTab}'

    .tabsContainer
        +createTab("Following", `/profile/${id}/following`, selectedTab == "following")
        +createTab("Followers", `/profile/${id}/followers`, selectedTab == "followers")

    .resultContainer

block scripts
    script(src='/js/followers_following.js')