extends layouts/main-layout

block content
    p -----------
    p userLoggedJs #{userLoggedJs.firstName}
    p user._id #{user._id}
    p user #{userId}


    if status
        p #{user.username}
        script.
            var profileUserId = '!{user._id}'
            var selectedTab = '!{selectedTab}'

        - followersCount = user.followers.length
        - followingCount = user.following.length


        .profileHeaderContainer
            .coverPhotoSection
                .coverPhotoContainer
                    if user._id == userId
                        if user.coverPic
                            img(src=user.coverPic, alt="User's cover image")
                        button.coverPhotoButton(data-toggle="modal" data-target="#coverUploadModal")
                            i.fas.fa-camera

                .userImageContainer
                    img(src=user.profilePic, alt="User profile image")
                    if user._id == userId
                        button.profilePictureButton(data-toggle="modal" data-target="#imageUploadModal")
                            i.fas.fa-camera

            .profileButtonsContainer
                if user._id != userLoggedJs._id
                    a.profileButton(href=`/messages/${user._id}`)
                        i.fas.fa-envelope
                    +createFollowButton(user, isLoggedInUserFollower)

            .userDetailsContainer
                span.displayName #{user.firstName} #{user.lastName}
                span.username @#{user.username}
                span.description #{user.description}

                .followersContainer
                    a(href=`/profile/${user._id}/following`)
                        span.value #{followingCount}
                        span Following
                    a(href=`/profile/${user._id}/followers`)
                        span#followersValue.value #{followersCount}
                        span Followers

        .tabsContainer
            +createTab("Posts", `/profile/${user.username}`, selectedTab != "replies")
            +createTab("Replies", `/profile/${user.username}/replies`, selectedTab == "replies")

        .pinnedPostContainer
        .postContainer

        +createPostModals(user)
        +createImageUploadModal()
        +createCoverImageUploadModal()

block scripts
    script(src='/js/profile.js')