mixin createPostForm(user)
    .postFormContainer
        .userImageContainer
            if user.profilePic
                img(src=user.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's happening?" maxlength='150')
            .buttonsContainer
                button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedJs)
    // Modal
    #replayModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replayModalTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#replayModalLongTitle.modal-title Replay
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            if user.profilePic
                                img(src=user.profilePic, alt="User's profile picture")
                        .textareaContainer
                            textarea#replayTextarea(placeholder="What's happening?" maxlength='150')
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitReplayButton.btn.btn-primary(type='button' disabled="") Replay

mixin creayedeletePostModal()
    // Modal
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLongTitle.modal-title Delete the post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        p You won't be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostModals(userLoggedJs)
    +createReplyModal(userLoggedJs)
    +creayedeletePostModal()
    +createPinnedPostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}

mixin createImageUploadModal()
    // Modal
    #imageUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='imageUploadModalTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#imageUploadModalLongTitle.modal-title Upload a new avatar picture?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        input#filePhoto(type="file" name="filePhoto")
                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#imageUploadButton.btn.btn-primary(type='button') Save

mixin createCoverImageUploadModal()
    // Modal
    #coverUploadModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='coverUploadModalTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#coverUploadModalTitle.modal-title Upload a new cover picture?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        input#fileCoverPhoto(type="file" name="fileCoverPhoto")
                    .imagePreviewContainer
                        img#imageCoverPreview
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#coverUploadModal.btn.btn-primary(type='button') Save

mixin createPinnedPostModal()
    // Modal
    #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#confirmPinModalTitle.modal-title Pin this post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    p This post will appear at the top of your profile. Only one post.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#pinPostButton.btn.btn-primary(type='button') Pin