mixin createPostForm(user)
    .postFormContainer
        .userImageContainer
            if user.profilePic
                img(src=user.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's happening?" maxlength='150')
            .buttonsContainer
                button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedJs)
    // Modal
    #replayModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replayModalTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#replayModalLongTitle.modal-title Replay
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            if user.profilePic
                                img(src=user.profilePic, alt="User's profile picture")
                        .textareaContainer
                            textarea#replayTextarea(placeholder="What's happening?" maxlength='150')
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitReplayButton.btn.btn-primary(type='button' disabled="") Replay

mixin creayedeletePostModal()
    // Modal
    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLongTitle.modal-title Delete the post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        p You won't be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') Delete

mixin createPostModals(userLoggedJs)
    +createReplyModal(userLoggedJs)
    +creayedeletePostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{name}